{% extends 'topics/_base_topics.html' %}

{% block content %}
<section id="topic-overview">
    {% include "topics/_question_aside.html" %}    
    <h2>Overview</h2>
    <p>Throughout the American Community Survey, data is broken down by age and sex. However, there are a few tables that are focused directly on these basic statistics.</p>

    <p><em>Note:</em> do not substitute the word &ldquo;gender&rdquo; for &ldquo;sex.&rdquo; Census Bureau specifically refers to the biological sex of survey respondents, not their gender presentation.</p>

    <ul>
        <li><strong><a href="{% url 'table_detail' '98-400-X2016003' %}">98-400-X2016003</a>:</strong> Sex by Age: provides the estimated count of men and women in age buckets, mostly of five years (e.g. 25 to 29 years, 30 to 34 years). Around the later teens and in the 60&rsquo;s the brackets are of differing sizes, including a column for just 20-year-olds and another for just 21-year-olds.)</li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'table_detail' '98-400-X2016003' %}">98-400-X2016003</a></td>
                <td>Age (in Single Years) and Average Age (127) and Sex (3) for the Population of Canada, Provinces and Territories, Census Divisions, Census Subdivisions and Dissemination Areas, 2016 Census - 100% Data</td>
            </tr>
        </tbody>
    </table>

</section>
{% endblock %}


